.border{
    border: 2px solid red;
    margin: 3px;
}
.f{
    display: flex;
}
.jc{
    justify-content: center;
}
.ac{
    align-items: center;
}
.bg-b{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-g{
    background-color: #141313;
}
.round{
    border-radius: 7px;
}
/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
     position: relative;
     right: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2b2a2a; /* Adjust the color as needed */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #171616; /* Adjust the color as needed */
  }
  
   